<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BannerScrollViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E14FE4241CD1E74C000BD10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E14FE4381CD1E74C000BD10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E14FE4431CD1E74C000BD10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
